<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="css/weather.png">
                <link rel="icon" href="css/weather.png">


    <title>About</title>

</head>
<body>
    <div class="main-content">
         {{>header}}
    
    <img src="./cloud.jpg" alt=""> 

    <h3>My name is {{name}}</h3>
    <h3>Iam from {{place}}</h3>
    </div>
   
    {{>footer}}
</body>
</html>